* {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  background-color: #4d79bc;
  border: 5px solid black;
  transform: translate(-50%, -50%);
}
